[mysqld]
# default character set and collation
collation_server=utf8_general_ci
character_set_server=utf8

# utf8mb4 long key index
innodb_file_per_table = 1
sql_mode = ""
secure-file-priv = ""

bind_address = 0.0.0.0